#kes-settings-button {
    top: 0;
    right: 0;
    padding: 3px 1rem 0;
    min-width: 3rem;
    cursor: pointer;
}

#kes-settings {
    color: var(--kbin-header-link-color);
    border-bottom: 3px solid transparent;
}

#kes-settings:hover {
    border-bottom: var(--kbin-header-hover-border);
    color: var(--kbin-header-link-hover-color);
    cursor: pointer;
}
#kes-settings-button:hover {
    color: var(--kbin-header-link-hover-color);
}
.kes-panel-mobile > #kes-settings-button {
    color: var(--kbin-button-secondary-text-hover-color);
    background: var(--kbin-button-secondary-bg);
    padding: .7rem;
}
.kes-panel-mobile {
    list-style: none;
}
.kes-panel-mobile:hover {
    border: 0px !important;
}
.kes-update-available {
    color: var(--kbin-success-color);
    position: relative;
    right: 1.5rem;
    bottom: 0.3rem;
}

span.kes-update {
    display: inline-block;
    position: absolute;
}
.kes-transparent-mode-modal {
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--kbin-success-color);

}

.kes-settings-modal {
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.kes-settings-modal:has(.kes-docked) {
    background-color: transparent;
}

.kes-settings-modal-container {
    background-color: var(--kbin-section-bg);
    border: var(--kbin-options-border);
    position: relative;
    min-width: 1360px;
    max-width: 1360px;
    min-height: 80vh;
    max-height: 100vh;
    display: grid;
    grid-template-areas: "content" "footer";
    grid-template-rows: auto min-content;
}

.kes-docked {
    position: absolute;
    bottom: 0;
    max-height: 35vh;
    min-height: 35vh;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.kes-docked .kes-settings-modal-content {
    max-height: 30vh;
    min-height: 30vh;
}

.kes-settings-modal-content {
    background-color: var(--kbin-section-bg);
    width: 100%;
    max-height: calc(100vh - 4rem);
    padding: 2rem;
    display: grid;
    grid-area: content;
    grid-template-areas: "header header header" "sidebar body helpbox";
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: min-content auto;
}

/* Small devices (landscape phones, 576px and below) */
@media (max-width: 576px) {
    .kes-settings-modal-content {
        grid-template-areas: "header" "sidebar" "body" "helpbox";
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content;
        overflow: auto;
    }
    #kes-settings {
        border-bottom: 0px !important;
    }
    #kes-settings:hover {
        border-bottom: 0px !important;
    }
    #kes-settings-button:hover {
        color: unset !important;
    }
    .kes-settings-modal-footer {
        padding: 0.4rem 0.2rem !important;
    }
    .kes-version {
        float: none !important;
    }
    .kes-settings-modal-header span {
        padding-right: 10px;
        padding-left: 10px;
    }
}

/* Medium devices (tablets, 1367px and below) */
@media (max-width: 1367px) {
    .kes-settings-modal-container {
        min-width: 100%;
        height: 100%;
    }

    .kes-dock {
        display: none;
    }
    .kes-close {
        padding-left: 8px;
    }

    .kes-version {
        margin-right: 0.5rem;
    }

    .kes-settings-modal-content {
        border: none !important;
    }
}

.kess-list {
    width: fit-content;
}

.kes-settings-modal-header {
    grid-area: header;
}

.kes-dock {
    float: right;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.kes-changelog {
    float: right;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.kes-dock i:hover,
.kes-debug-clipboard:hover,
.kes-transparent-mode i:hover {
    opacity: 0.5;
}

.kes-header-hr {
    border: 1px solid gray;
}

.kes-version {
    float: right;
}

.kes-version .new {
    color: var(--kbin-link-color);
	background-color: var(--kbin-vote-bg);
	border: 2px solid var(--kbin-vote-text-color);
	opacity: 0.4;
    transition: color 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    font-weight: bold;
    border-radius: 8px;
    opacity: 0.9;
    padding: 4px 8px;
    margin-top: -4px;
    margin-right: 0.5rem;
}

.kes-version .new:hover {
    opacity: 0.8;
}

.kes-settings-modal-content .kes-close {
    color: #aaa;
    float: right;
    cursor: pointer;
}

.kes-settings-modal-content .kes-close:hover {
    opacity: 0.5;
}

.kes-settings-modal-content ul {
    list-style: none;
    padding-inline: 0;
}

.kes-settings-modal-content ul li label {
    display: block;
    margin-bottom: 0.5rem;
}

.kes-settings-modal-content ul li .description {
    font-size: 0.8em;
    padding-left: 20px;
    text-align: justify;
    color: #b9b9b9;
}

.kes-settings-modal-content ul li input[type="checkbox"] {
    margin-right: 0.5rem;
}

.kes-settings-modal-content h2 {
    margin-top: 0;
    font-size: 1rem;
}

.kes-settings-modal-sidebar,
.kes-settings-modal-body,
.kes-settings-modal-helpbox {
    overflow-y: auto;
    min-height: calc(85% - 4rem);
}

.kes-settings-modal-body {
    grid-area: body;
}

.kes-settings-modal-helpbox {
    grid-area: helpbox;
    opacity: 0;
    color: var(--kbin-meta-text-color);
    margin-top: 1rem;
}

.kes-settings-modal-body label:hover .description {
    opacity: 1;
}

.kes-settings-modal-body label .description {
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
}

.mod-author {
    float: right;
}

.kes-tab-link,
.kes-option {
    cursor: pointer;
    border-radius: 0px;
    border: none;
    color: var(--kbin-meta-link-color);
}

.kes-tab-link:hover,
.kes-option:hover {
    opacity: 1;
    color: var(--kbin-meta-link-hover-color);
}

.kes-tab-link.active,
.kes-option.active {
    color: var(--kbin-sidebar-header-text-color);
}
#sidebar.open {
    display: block !important;
}
.tgl {
    display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl+.tgl-btn {
    box-sizing: border-box;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl+.tgl-btn::selection {
    background: none;
}

.tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 2em;
    height: 1em;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.tgl+.tgl-btn:after,
.tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl+.tgl-btn:after {
    left: 0;
}

.tgl+.tgl-btn:before {
    display: none;
}

.tgl:checked+.tgl-btn:after {
    left: 50%;
}

.kes-tgl+.tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
}

.kes-tgl+.tgl-btn:after {
    border-radius: 2em;
    background: gray;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
}

.kes-tgl+.tgl-btn:hover:after {
    will-change: padding;
}

.kes-tgl+.tgl-btn:active:after {
    padding-right: 0.8em;
}

.kes-tgl:checked+.tgl-btn {
    background: #86d993;
}

.kes-tgl:checked+.tgl-btn:active {
    box-shadow: none;
}

.kes-tgl:checked+.tgl-btn:active:after {
    margin-left: -0.8em;
}

.kes-settings-modal-footer {
    grid-area: footer;
    background-color: var(--kbin-footer-bg);
    padding: 0.4rem 2rem;
    width: 100%;
    display: flex;
}

.kes-settings-modal-bug-icon {
    padding-left: 0.4rem;
    float: right;
}

.kes-settings-modal-bug-icon i {
    vertical-align: baseline;
}

.kes-settings-modal-bug-link {
    margin-left: auto
}

.kes-radio-label {
    display: inline;
    margin-left: 5px;
}

.kes-field-label {
    margin-bottom: 1px;
}

.kes-new-notifier {
    color: orange;
    padding-right: 20px;
}
#kes-results-dialog,#kes-search-dialog,#kes-backup-dialog {
    border: none;
    background-color: var(--kbin-footer-bg);
    color: var(--kbin-input-text-color);
}
.kes-backup-button {
    background-color: var(--kbin-section-bg);
    color: var(--kbin-input-text-color);
    border: 0px;
    opacity: 0.7;
    cursor: pointer;
    margin-left: auto;
}

.kes-backup-button:hover {
    opacity: 1;
}
.kes-search-menu button, .kes-results-menu button, .kes-backup-menu button {
    border: 0px;
    opacity: 1;
    background-color: var(--kbin-section-bg);
    color: var(--kbin-input-text-color);
    border-radius: 0px;
}
.kes-backup-menu button {
    margin: 4px;
}
.kes-backup-menu button {
    margin-right: 10px;
}
.kes-results-menu button:hover, .kes-backup-menu button:hover {
    opacity: 0.7;
}

.kes-debug-clipboard {
    float: right;
    margin-top: 5px;
    padding-left: 10px;
}
.kes-transparent-mode {
    float: right;
}
#kes-checkbox {
    display:none;
}
.kes-results-menu {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: solid 1px gray;
}
.kes-results-closebutton, .kes-results-fullbutton {
    border: none;
}
.kes-results-fullbutton {
    padding: 5px 10px 5px 10px;
}
#kes-results-dialog {
    padding: unset;
    overflow-y: scroll;
    max-height: 50%;
}
.kes-results-menu button {
    padding: 5px 20px 5px 20px;
}

.kes-search-text, .kes-search-menu button {
    margin-top: 10px;
}
.kes-search-closebutton {
    float: right;
}
.kes-search-hidden {
    display:none;
}
