#megamod-settings-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.5rem;
    color: var(--kbin-section-text-color);
    font-size: 0.5em;
    cursor: pointer;
}

#megamod-settings-button:hover {
    color: var(--kbin-sidebar-header-text-color);
}

.megamod-settings-modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.megamod-settings-modal-content {
    background-color: var(--kbin-section-bg);
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-areas: "header header header" "sidebar body helpbox";
    grid-template-columns: 1fr 3fr 3fr;
}
.megamods-list {
width:fit-content;
margin-left: 0.5rem;
}

.megamod-settings-modal-content {
    border: var(--kbin-options-border);
}
.megamod-settings-modal-header {
    grid-area: header;
}

.megamod-dock{
    float:right;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.megamod-dock i:hover {
    opacity: 0.5;
}

.megamod-header-hr {
border: 1px solid gray
}

.megamod-version {
    float: right;
 }
.megamod-settings-modal-content .close {
    color: #aaa;
    float: right;
    cursor: pointer;
}
.megamod-settings-modal-content .close:hover{
  opacity: 0.5;
  }

.megamod-settings-modal-content ul {
    list-style: none;
    padding-inline: 0;
}
.megamod-settings-modal-content ul li label {
    display: block;
    margin-bottom: 0.5rem;
}

.megamod-settings-modal-content ul li .description {
    font-size: 0.8em;
    padding-left: 20px;
    text-align: justify;
    color: #b9b9b9;
}

.megamod-settings-modal-content ul li input[type="checkbox"] {
    margin-right: 0.5rem;
}

.megamod-settings-modal-content h2 {
    margin-top: 0;
    font-size: 1rem;
}

.megamod-settings-modal-body {
    grid-area: body;
}
 .megamod-settings-modal-helpbox {
    grid-area: helpbox;
    opacity: 0;
    padding: 1rem;
    color: var(--kbin-header-text-color);
}

.megamod-settings-modal-body label:hover .description {
    opacity: 1;
}
.megamod-settings-modal-body label .description {
    transition: opacity 0.15s ease-in-out;
    opacity: 0;
}
.mod-author {
    float: right;
}
.megamod-tooltip {
    margin-left: 0.5rem;
    transition: opacity 0.25s ease-in-out;
}
.megamod-tab-link {
     border-radius: 0px;
    border: none;
    color: var(--kbin-header-text-color);
}
.megamod-tab-link:hover{
    opacity: 0.65;
}
